{% extends 'base.html.twig' %}

{% block title %}DossierMedicale{% endblock %}

{% block body %}
    <h1>DossierMedicale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier_medicale.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_medicale_index') }}">back to list</a>

    <a href="{{ path('app_dossier_medicale_edit', {'id': dossier_medicale.id}) }}">edit</a>

    {{ include('dossier_medicale/_delete_form.html.twig') }}
{% endblock %}
