{% extends 'admin/base_admin.html.twig' %}

{% block content %}
<div class="text-gray-700">
    <div class='grid grid-cols-3'>
    {% include 'admin/components/card_details.html.twig'  %}
    </div>
    <div class="flex flex-wrap w-full">
    {% include 'admin/components/charts.html.twig'  %}
    </div>
</div>
{% endblock %}
